[submodule "vim/pack/base/start/ctrlp.vim"]
	path = vim/pack/base/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule "vim/pack/base/start/vim-surround"]
	path = vim/pack/base/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "vim/pack/base/start/gruvbox"]
	path = vim/pack/base/start/gruvbox
	url = https://github.com/morhetz/gruvbox
