[submodule "vim/pack/base/start/vim-surround"]
	path = vim/pack/base/start/vim-surround
	url = ../../tpope/vim-surround
[submodule "vim/pack/base/start/colorizer"]
	path = vim/pack/base/start/colorizer
	url = ../../lilydjwg/colorizer
[submodule "vim/pack/base/start/coc.nvim"]
	path = vim/pack/base/start/coc.nvim
	url = ../../neoclide/coc.nvim
	branch = release
[submodule "vim/pack/base/start/nord-vim"]
	path = vim/pack/base/start/nord-vim
	url = ../../arcticicestudio/nord-vim.git
[submodule "vim/pack/base/start/fzf.vim"]
	path = vim/pack/base/start/fzf.vim
	url = ../../junegunn/fzf.vim.git
[submodule "vim/pack/base/start/vim-fugitive"]
	path = vim/pack/base/start/vim-fugitive
	url = ../../tpope/vim-fugitive
[submodule "vim/pack/base/start/vim-test"]
	path = vim/pack/base/start/vim-test
	url = ../../vim-test/vim-test.git
[submodule "vim/pack/base/start/vim-tmuxify"]
	path = vim/pack/base/start/vim-tmuxify
	url = ../../jebaum/vim-tmuxify
[submodule "vim/pack/base/start/vim-glsl"]
	path = vim/pack/base/start/vim-glsl
	url = ../../tikhomirov/vim-glsl
[submodule "vim/pack/base/start/vim-scala"]
	path = vim/pack/base/start/vim-scala
	url = https://github.com/derekwyatt/vim-scala
