[submodule "vim/pack/base/start/ctrlp.vim"]
	path = vim/pack/base/start/ctrlp.vim
	url = ../../ctrlpvim/ctrlp.vim
[submodule "vim/pack/base/start/vim-surround"]
	path = vim/pack/base/start/vim-surround
	url = ../../tpope/vim-surround
[submodule "vim/pack/base/start/ale"]
	path = vim/pack/base/start/ale
	url = ../../w0rp/ale
[submodule "vim/pack/base/start/colorizer"]
	path = vim/pack/base/start/colorizer
	url = ../../lilydjwg/colorizer
